*  
{ 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

 .navbar {
        height: 60px;
        background-color: #0f1111;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

/** box 1 **/
.nav-logo {
    height: 50px;
    width: 150px;
    justify-content: space-evenly ;
}
.logo {
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border:1.5px  solid transparent;
}
.border:hover {
    border:1.5px solid white;
}


/** box 2 **/

.add-1st {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-2nd {
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;

}
/** box 3 **/
.nav-search{ 
    display: flex;
    justify-content: space-evenly ;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid transparent;
}  
.nav-search:hover{
border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #011111;
}
/** box 4 **/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight:700 ;
}
/** box 5 **/
.nav-cart i{
    font-size: 30px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight:700 ;
}
/** 2row-box 3 **/
.panel{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.panel-release{
    height: 40px;
    width: 400px;
}
.panel-relase-pic{
    background-image: url("images/panel-pic-release.png");
    background-size: cover;
    height: 40px;
    width: 100%;
}
.panel-ops p{
    display:inline;
    margin-left: 15px;
}
.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-menu {
    font-size: 0.85rem;
    font-weight: 700;
    margin-right: 5px;
    display:inline;
    margin-left: 15px;
    padding: 2px ;

}
/** hero-section **/
.hero-section{
    background-image: url("images/hero-image.png");
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
/** shop-section **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient(180deg, rgb(8, 31, 105),rgb(206, 211, 227));;
}
.box{
    height:400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box h2{
    font-size: 21px;
    text-align: center;
}
.box1-image{
    background-image: url('images/box1.jpg');
    height: 300px;
    margin-top: 1rem;
    background-size: cover; /* This will cover the entire frame */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
.box2-image{
    background-image: url('images/box2.jpg');
    height: 300px;
    background-size: cover; /* This will cover the entire frame */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
.box3-image{
    background-image: url('images/box3.jpg');
    height: 300px;
    background-size: cover; /* This will cover the entire frame */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
.box4-image{
    background-image: url('images/box4.jpg');
    height: 280px;
    background-size: cover; /* This will cover the entire frame */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
.box5-image{
    background-image: url('images/box5.jpg');
    height: 300px;
    background-size: cover; /* This will cover the entire frame */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
.box6-image{
    background-image: url('images/box6.jpg');
    height: 300px;
    background-size: cover; /* This will cover the entire frame */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
.box7-image{
    background-image: url('images/box7.jpg');
    height: 300px;
    background-size: cover; /* This will cover the entire frame */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
.box8-image{
    background-image: url('images/box8.jpg');
    height: 300px;
    background-size: cover; /* This will cover the entire frame */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
footer{
    margin-top: 15px;
}


.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    font-size: 0.85rem;
    display: flex ;
    align-items: center;
    justify-content: center;
}
.foot-panel2{
    background-color: #232f3e;
    color: white;
    height: 300px;
    font-size: 0.85rem;
    display: flex ;
    justify-content: space-evenly;
}

ul{
    margin-top: 25px;  
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #DDDDDD;
}
ul p{
    font-size: 16px;
    font-weight: 700;
}